*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: url("/images/trees.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

#screen img{
    width: 16vh;
    height: 17vh;
    background: none;
    position: absolute;
    overflow: hidden;
}

.basket{
    width: 20vh;
    height: 22vh;
}

