*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background: url("../images/trees.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    font-family: Lobster, Helvetica;
}

#screen img{
    width: 100px;
    height: 100px;
    background: none;
    position: absolute;
}

#scoreboard{
    color: aquamarine;
    font-size: 220%;
    margin-left: 38%;
    margin-top: 12%;
    padding: 1.5% 6%;
    background: none;
    position: absolute;
    opacity: 0.85;
}

#lives{
    color: aquamarine;
    font-size: 220%;
    margin-left: 38.5%;
    margin-top: 32%;
    padding: 1.5% 6.3%;
    background: none;
    position: absolute;
    opacity: 0.85;
    z-index: -2;
}
.basket{
    z-index: -1;
}

/* #egg{
    width: 30px;
} */
